.credentials {
    border: 1px solid #ffffff;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 30%;
    column-gap: 3rem;
;
}
.credentials .row {
    margin: auto;
}
.credentials .row .title {
    color: #ffffff;
    text-align: center;
    margin: 20px auto;
}
.credentials .row .columns {
    margin: 10px auto;
}
.credentials .row .columns .name {
    color: #ffffff;
    text-align: center;
    margin: auto;
}
.credentials .row .columns .value {
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 700px){
    .credentials {
        width: 100vw;
        margin: 0;
        column-gap: 2rem;
    }
    .credentials .row .title {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 12px;
    }
    .box {
        display: flex;
        justify-content: left;
        justify-items: left;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .credentials .row .columns {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;

    }
    .credentials .row .columns .name {
        font-size: 12px;
        text-align: left;
    }
    .credentials .row .columns .value {
        font-size: 12px;
        text-align: left;
    }
}